[submodule "view"]
	path = view
	url = https://github.com/usnistgov/asbestos-view.git
	branch = master
[submodule "asbestos-test-editor-service"]
	path = asbestos-test-editor-service
	url = https://github.com/usnistgov/asbestos-test-editor-service.git
	branch = master
[submodule "asbestos-simapi"]
	path = asbestos-simapi
	url = https://github.com/usnistgov/asbestos-simapi.git
	branch = master
[submodule "asbestos-adapter"]
	path = asbestos-adapter
	url = https://github.com/usnistgov/asbestos-adapter.git
	branch = master
[submodule "asbestos-simapitest"]
	path = asbestos-simapitest
	url = https://github.com/usnistgov/asbestos-simapitest.git
