[submodule "asbestos-adapter"]
	path = asbestos-adapter
	url = https://github.com/usnistgov/asbestos-adapter.git
	branch = master
[submodule "asbestos-simapitest"]
	path = asbestos-simapitest
	url = https://github.com/usnistgov/asbestos-simapitest.git
[submodule "asbestos-fproxy"]
	path = asbestos-fproxy
	url = https://github.com/usnistgov/asbestos-fproxy.git
[submodule "asbestos-proxytest"]
	path = asbestos-proxytest
	url = https://github.com/usnistgov/asbestos-proxytest.git
