RewriteRule ^/about(.*)$    /index.html [L]
RewriteRule ^/setup(.*)$    /index.html [L]
RewriteRule ^/mhdtesting(.*)$ /index.html [L]
RewriteRule ^/home(.*)$    /index.html [L]
RewriteRule ^/configurations(.*)$    /index.html [L]
RewriteRule ^/session(.*)$    /index.html [L]
RewriteRule ^/script(.*)$     /index.html [L]
