<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Asbestos Proxy</display-name>

  <servlet>
    <servlet-name>ProxyService</servlet-name>
    <servlet-class>gov.nist.asbestos.asbestosProxy.wrapper.ProxyServlet</servlet-class>
    <init-param>
      <param-name>ExternalCache</param-name>
      <param-value>/home/bill/ec</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>ChannelControl</servlet-name>
    <servlet-class>gov.nist.asbestos.asbestosProxy.wrapper.ChannelControlServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>logViewer</servlet-name>
    <servlet-class>gov.nist.asbestos.asbestosProxy.wrapper.ProxyLogServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProxyService</servlet-name>
    <url-pattern>/fhir/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ChannelControl</servlet-name>
    <url-pattern>/channel/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ChannelControl</servlet-name>
    <url-pattern>/channel</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern> /* </url-pattern>
  </filter-mapping>

  <servlet-mapping>
    <servlet-name>logViewer</servlet-name>
    <url-pattern>/log/*</url-pattern>
  </servlet-mapping>
</web-app>
