<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Asbestos</display-name>

  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    <!--      <init-param>-->
    <!--        <param-name>cors.allowed.headers</param-name>-->
    <!--        <param-value>Accept,Accept-Encoding,Accept-Language,Access-Control-Request-Method,Access-Control-Request-Headers,Authorization,Connection,Content-Type,Host,Origin,Referer,Token-Id,User-Agent, X-Requested-With</param-value>-->
    <!--      </init-param>-->
    <!--      <init-param>-->
    <!--        <param-name>cors.allowed.origins</param-name>-->
    <!--        <param-value>*</param-value>-->
    <!--      </init-param>-->
    <init-param>
      <param-name>cors.supportedMethods</param-name>
      <param-value>GET, POST, PUT, DELETE, OPTIONS, HEAD</param-value>
    </init-param>
  </filter>
  <!--  <filter>-->
  <!--    <filter-name>CorsFilter</filter-name>-->
  <!--    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>-->
  <!--  </filter>-->
  <!--  <filter-mapping>-->
  <!--    <filter-name>CorsFilter</filter-name>-->
  <!--    <url-pattern> /* </url-pattern>-->
  <!--  </filter-mapping>-->

  <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>ProxyService</servlet-name>
    <servlet-class>gov.nist.asbestos.asbestosProxy.servlet.ProxyServlet</servlet-class>
    <init-param>
      <param-name>ExternalCache</param-name>
      <param-value>/home/bill/ec</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>ChannelControl</servlet-name>
    <servlet-class>gov.nist.asbestos.asbestosProxy.servlet.ChannelControlServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>logViewer</servlet-name>
    <servlet-class>gov.nist.asbestos.asbestosProxy.servlet.ProxyLogServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>TestEngine</servlet-name>
    <servlet-class>gov.nist.asbestos.asbestosProxy.servlet.TestEngineServlet</servlet-class>
    <load-on-startup>3</load-on-startup> <!-- must be started after ProxyService -->
  </servlet>

  <servlet-mapping>
    <servlet-name>ProxyService</servlet-name>
    <url-pattern>/fhir/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ChannelControl</servlet-name>
    <url-pattern>/channel/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ChannelControl</servlet-name>
    <url-pattern>/channel</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TestEngine</servlet-name>
    <url-pattern>/engine/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>logViewer</servlet-name>
    <url-pattern>/log/*</url-pattern>
  </servlet-mapping>

</web-app>
