<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Asbestos</display-name>

  <filter>
    <filter-name>CORS</filter-name>
    <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
    <!--      <init-param>-->
    <!--        <param-name>cors.allowed.headers</param-name>-->
    <!--        <param-value>Accept,Accept-Encoding,Accept-Language,Access-Control-Request-Method,Access-Control-Request-Headers,Authorization,Connection,Content-Type,Host,Origin,Referer,Token-Id,User-Agent, X-Requested-With</param-value>-->
    <!--      </init-param>-->
    <!--      <init-param>-->
    <!--        <param-name>cors.allowed.origins</param-name>-->
    <!--        <param-value>*</param-value>-->
    <!--      </init-param>-->
    <init-param>
      <param-name>cors.supportedMethods</param-name>
      <param-value>GET, POST, PUT, DELETE, OPTIONS, HEAD</param-value>
    </init-param>
  </filter>
  <!--  <filter>-->
  <!--    <filter-name>CorsFilter</filter-name>-->
  <!--    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>-->
  <!--  </filter>-->
  <!--  <filter-mapping>-->
  <!--    <filter-name>CorsFilter</filter-name>-->
  <!--    <url-pattern> /* </url-pattern>-->
  <!--  </filter-mapping>-->

  <filter>
    <filter-name>FtkElementsGuardFilter</filter-name>
    <filter-class>gov.nist.asbestos.services.filter.FtkElementsGuardFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>CORS</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>FtkElementsGuardFilter</filter-name>
    <url-pattern>/rw</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>FtkElementsGuardFilter</filter-name>
    <url-pattern>/rw/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>ProxyService</servlet-name>
    <servlet-class>gov.nist.asbestos.services.servlet.ProxyServlet</servlet-class>
    <init-param>
      <param-name>port</param-name>
      <param-value>8080</param-value>
      <description>Not used yet - see ProxyServlet for details</description>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>FtkElements</servlet-name>
    <servlet-class>gov.nist.asbestos.services.servlet.FtkElementsServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>logViewer</servlet-name>
    <servlet-class>gov.nist.asbestos.services.servlet.ProxyLogServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>validationService</servlet-name>
    <servlet-class>gov.nist.asbestos.services.servlet.ValidationServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>TestEngine</servlet-name>
    <servlet-class>gov.nist.asbestos.services.servlet.TestEngineServlet</servlet-class>
    <load-on-startup>3</load-on-startup> <!-- must be started after ProxyService -->
  </servlet>

  <servlet>
    <servlet-name>TestInstaller</servlet-name>
    <servlet-class>gov.nist.asbestos.services.servlet.TestInstallerServlet</servlet-class>
    <load-on-startup>3</load-on-startup> <!-- must be started after ProxyService -->
  </servlet>

  <servlet>
    <servlet-name>StaticResource</servlet-name>
    <servlet-class>gov.nist.asbestos.services.servlet.StaticResourceServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Gen500</servlet-name>
    <servlet-class>gov.nist.asbestos.services.servlet.Gen500Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StaticResource</servlet-name>
    <url-pattern>/static/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>StaticResource</servlet-name>
    <url-pattern>/static</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ProxyService</servlet-name>
    <url-pattern>/proxy/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TestInstaller</servlet-name>
    <url-pattern>/testInstall</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>TestEngine</servlet-name>
    <url-pattern>/engine/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>logViewer</servlet-name>
    <url-pattern>/log/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>validationService</servlet-name>
    <url-pattern>/validate/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FtkElements</servlet-name>
    <url-pattern>/rw/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FtkElements</servlet-name>
    <url-pattern>/rw</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FtkElements</servlet-name>
    <url-pattern>/accessGuard/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
      <servlet-name>FtkElements</servlet-name>
      <url-pattern>/accessGuard</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FtkElements</servlet-name>
    <url-pattern>/channelLock</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>FtkElements</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>Gen500</servlet-name>
    <url-pattern>/gen500/*</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ChannelEditor</web-resource-name>
      <url-pattern>/accessGuard</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>editRole</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>FTKResourceEditor</web-resource-name>
      <url-pattern>/accessGuard/*</url-pattern>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>editRole</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>FTKResourceLocker</web-resource-name>
      <url-pattern>/channelLock</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>editRole</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>SignIn</web-resource-name>
      <url-pattern>/signIn</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>editRole</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>TestRealm</realm-name>
  </login-config>
  <security-role>
    <role-name>editRole</role-name>
  </security-role>

</web-app>
